---
import Root from "@/layouts/Root.astro";
import PostCard from "@/components/PostCard.astro";
import { getPosts, getPostTags } from "@/utils/getPosts";
import type { Post } from "@/types/Post";
import PostTag from "@/components/PostTag.astro";
import { siteConfig } from "@/config";

export const prerender = false;

const url = new URL(Astro.request.url);
const searchParams = new URLSearchParams(url.search);
const queryRaw = searchParams.get("q") || "all";
const query = queryRaw.toLowerCase();

const arrayFromQuery = query.split(" ").filter(Boolean);

const matchesPosts = await getPosts();
const tags = await getPostTags();

const filterPosts = matchesPosts.filter((post: Post) => {
  const tagsMatch = post?.tags?.some((tag) => {
    const tagSlug = tag.toLowerCase();
    return arrayFromQuery.includes(tagSlug);
  });
  return tagsMatch;
});

const posts = filterPosts.length > 0 ? filterPosts : matchesPosts;

const jsonLd = {
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": `${Astro.site}${Astro.url.pathname}`,
  },
  headline: "Blog",
  image: `${siteConfig.logo}`,
  author: {
    "@type": "Organization",
    name: "Frankuxui",
    url: `${siteConfig.siteUrl}`,
  },
  publisher: {
    "@type": "Organization",
    name: "Frankuxui",
    logo: {
      "@type": "ImageObject",
      url: `${siteConfig.logo}`,
    },
  },
  datePublished: "",
};
---

<Root>
  {jsonLd && <script type="application/ld+json" is:inline set:html={JSON.stringify(jsonLd)} />}

  <div class="w-full pt-10 sm:pt-20 pb-20">
    <section class="w-full max-w-6xl mx-auto px-10" id="blog" aria-labelledby="blog-title">
      <header class="w-full grid gap-6">
        <h1
          id="blog-title"
          class="font-medium text-xl motion-safe:animate-text-reveal"
          style={{
            "--hero-text-reveal-opacity-step-0": 1,
            "--hero-text-reveal-x-step-0": 0,
            "--hero-text-reveal-y-step-0": "0px",
            "--hero-text-reveal-opacity-step-1": 1,
            "--hero-text-reveal-x-step-1": 0,
            "--hero-text-reveal-y-step-1": "0px",
            "--hero-text-reveal-opacity-step-2": 1,
            "--hero-text-reveal-x-step-2": 0,
            "--hero-text-reveal-y-step-2": "0px",
            "--hero-text-reveal-opacity-step-3": 1,
            "--hero-text-reveal-x-step-3": 0,
            "--hero-text-reveal-y-step-3": "0px",
          }}
        >
          Blog
        </h1>

        <p
          class="text-left w-full leading-10 text-3xl font-normal motion-safe:animate-text-reveal"
          style={{
            "--hero-text-reveal-opacity-step-0": 0,
            "--hero-text-reveal-x-step-0": 0,
            "--hero-text-reveal-y-step-0": "25px",
            "--hero-text-reveal-opacity-step-1": 1,
            "--hero-text-reveal-x-step-1": 0,
            "--hero-text-reveal-y-step-1": "0px",
            "--hero-text-reveal-opacity-step-2": 1,
            "--hero-text-reveal-x-step-2": 0,
            "--hero-text-reveal-y-step-2": "0px",
            "--hero-text-reveal-opacity-step-3": 1,
            "--hero-text-reveal-x-step-3": 0,
            "--hero-text-reveal-y-step-3": "0px",
          }}
        >
          Mis artículos
        </p>

        <p
          class="text-xl motion-safe:animate-text-reveal"
          style={{
            "--hero-text-reveal-opacity-step-0": 0,
            "--hero-text-reveal-x-step-0": 0,
            "--hero-text-reveal-y-step-0": "25px",
            "--hero-text-reveal-opacity-step-1": 0,
            "--hero-text-reveal-x-step-1": 0,
            "--hero-text-reveal-y-step-1": "25px",
            "--hero-text-reveal-opacity-step-2": 1,
            "--hero-text-reveal-x-step-2": 0,
            "--hero-text-reveal-y-step-2": "0px",
            "--hero-text-reveal-opacity-step-3": 1,
            "--hero-text-reveal-x-step-3": 0,
            "--hero-text-reveal-y-step-3": "0px",
          }}
        >
          Reflexiones sobre desarrollo web, diseño y tecnología. Comparto aprendizajes para que también te sean útiles.
        </p>
      </header>

      <!-- Selector de tags -->
      {
        tags.length > 0 && (
          <section class="py-10" aria-label="Filtrar artículos por etiquetas">
            <div class="flex flex-wrap gap-2 mb-4">
              {tags.map(({ name, slug }) => (
                <PostTag name={name as string} slug={slug as string} />
              ))}
            </div>
          </section>
        )
      }

      <!-- Lista de artículos -->
      <section class="w-full relative grid grid-cols-4 gap-x-4 md:grid-cols-8 lg:grid-cols-12 lg:gap-x-6 mx-auto max-w-6xl mb-64" aria-label="Listado de artículos del blog">
        {posts.map((post: Post) => <PostCard post={post} />)}
      </section>
    </section>
  </div>
</Root>
