---
import { siteConfig } from "@/config";

interface Props {
  title: string;
  description: string;
  image?: string;
}

// Normalizar Astro.url.pathname para quitar trailing slash (menos para "/")
const pathname = Astro.url.pathname === "/" ? "/" : Astro.url.pathname.replace(/\/$/, "");

// Crear la URL canónica normalizada
const canonicalURL = new URL(pathname, Astro.site).toString();
const { title, description, image = siteConfig.openGraph.image } = Astro.props as Props;
const ogImage = new URL(image, Astro.site?.href || "https://frankuxui.dev").href;

const JsonLd = {
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  dateCreated: "2024-12-23T12:34:00-05:00",
  dateModified: "2024-12-26T14:53:00-05:00",
  mainEntity: {
    "@type": "Person",
    name: siteConfig.authorName,
    alternateName: siteConfig.alternateName,
    identifier: siteConfig.alternateName,
    description: siteConfig.description,
    image: new URL(siteConfig.openGraph.image, Astro.site).toString(),
    sameAs: [
      siteConfig.social.github,
      siteConfig.social.linkedin,
      siteConfig.social.figma,
      siteConfig.social.codepen,
      siteConfig.social.codesandbox,
      siteConfig.social.devto,
      siteConfig.social.instagram,
    ],
    publisher: {
      "@type": "Organization",
      name: siteConfig.alternateName,
      logo: {
        "@type": "ImageObject",
        url: new URL(siteConfig.logo, Astro.site).toString(),
      },
    },
  },
};
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png" />
<link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png" />
<link rel="sitemap" href={new URL("sitemap-index.xml", Astro.site)} />
<link rel="alternate" type="application/rss+xml" title={siteConfig.title} href={new URL("rss.xml", Astro.site)} />
<meta name="generator" content={Astro.generator} />

<!-- SEO Metadata -->
<meta name="keywords" content={siteConfig.keywords} />
<meta name="author" content="Frankuxui" />
<meta name="application-name" content={siteConfig.title} />
<meta name="theme-color" content="#ffffff" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="google-site-verification" content="z8tMj3ewmn2Qaqw0muu5GLy04hn0qLXr0FpJHFkl8Uw" />

<!-- Og / default -->
<meta property="og:logo" content={siteConfig.logo} />
<meta property="og:locale" content="es_ES" />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={siteConfig.title} />
<meta property="og:image" content={ogImage} />
<meta property="og:image:alt" content={title} />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImage} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@frankuxui" />
<meta name="twitter:creator" content="@frankuxui" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImage} />
<meta property="twitter:image:alt" content={title} />

{JsonLd && <script type="application/ld+json" is:inline set:html={JSON.stringify(JsonLd)} />}

<!-- Google tag (gtag.js) -->
<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-0G619YVEY7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(...args: any[]) {
    window.dataLayer.push(args);
  }
  gtag("js", new Date());

  gtag("config", "G-0G619YVEY7");
</script>
